Num.ij.pairs               3        # NOTE: Number of ij pairs.
Bunch.ij.pairs             3        # default - 1
# NOTE: an Optional keyword to use when the memory consumption is too large at the default setting.
# Should be same to or smaller than Num.ij.pairs.
# The smaller Bunch.ij.pairs results in smaller memory consumption with larger calculation time.

<ijpairs.nocellid
1 1
1 2
2 2
ijpairs.nocellid>
